@keyframes show-toast{
    0% {bottom: -100%}
    20% {bottom: 100px}
    80% {bottom: 100px}
    100% {bottom: -100%}
}

.show-notification{
    position: fixed;
    bottom: 100%;
    right: 20x;
    animation-name: show-toast;
    animation-duration: 8s;
    z-index: 99;
}

/* .btn.btn-info{
    padding: 2px 1.75em;
    font-size: 12px;
    cursor: pointer;
} */

.btn{
    padding: 2px 1.75em;
    font-size: 12px;
    cursor: pointer;
}

.add-food-btn {
    padding: 2px 1.75em;
    font-size: 12px;
    cursor: pointer;
}


.main-search .field-holder input[type="text"]{
    color: #000000 !important;
}

table > tbody > tr > td{
    border: none !important;
}

#opening_hours select{
    padding: 5px 10px !important;
}

/* Hide the Radio button PayPal/RazorPay image  */

.payment-method [type=radio]{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* Image Style  PayPal/RazorPay image */

.payment-method [type=radio] + img {
    cursor: pointer;
    padding: 5px;
}

/* Checked Style (Show Border when click on the PayPal/RazorPay image */

.payment-method [type=radio]:checked + img {
    outline: 2px solid #ff0000;
}